# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Node (si ajouté plus tard)
node_modules/
npm-debug.log*

# Misc
*.tmp
*.bak
